#body {
  background-color: #ffe0ec
}

#top{
  border: 5px hidden;
  margin-bottom: 20px;
}

#aa{
  border: 5px #4287f5;
}

#header{
  background: #ffffff;
  text-align: center;
}

#header{
  border: 8px solid #000000;
  box-shadow: 10px 10px #ff96ad;
  padding:20px;
  width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  margin: 0 auto;

  margin-bottom: 40px;

}

#about-me {
    border: 4px solid #cffeff;
    float:left ;
}

#about-me-header {
  margin-top: 20px;
}

#about-me {
  border-radius: 25px;
  background: #282c34;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 250px;
  padding: 20px;
  float: left ;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;

}

#gallery{
  margin-top: 500px;
}

#comments{
  color:#898989
}

#string{
  color:#98c363;
}

#value{
  color: #d19a56;
}

#pyth_text{
  color: #abb2bf
}

#social-media {
  border:hidden solid;
  text-align: center;
  margin: 325px;
}

#img{
  float:right;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right:240px;
}

#art{
  border-style: inset;
  text-align: center;
  width:fit-content;
  width:-webkit-fit-content;
  width:-moz-fit-content;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  padding: 20px;
}

.image{
  position: relative;
}

.gall-text{
    color:#f26f8c;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}


.button {
  float: left;
  position: relative;
}

.button {
         background-color: #ff3690;
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }


.but-cent{
  margin-top: 400px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
}
